<div *ngIf="recommendedFlag">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 style="text-align: center">Recommended {{ comp }}</h2>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card" *ngFor="let r of recommended">
      <img class="card-img-top" src="{{ r.Image }}" alt="Card image cap">
      <div class="cardbody">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <h5 class="card-title">{{ r.Name }}</h5>
          </div>
          <div class="col-sm-6 col-xs-6 alignRight">
            <p style="float: right" *ngIf="comp=='hotels'">PKR {{ r.Price }}</p>
            <p style="float: right" *ngIf="comp=='Restaurants'">{{ r.Type }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div>
              <span *ngFor="let str of getRepeater(r.Rating)" class="fa fa-star" aria-hidden="true"></span>
            </div>
            <div>
              {{ r.Rating }}/5 (120 reviews)
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 alignRight">
            <button class="btn btn-success" type="submit" (click)="SubmitDeals(r)">View Deal</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="popularFlag">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 style="text-align: center">Popular {{ comp }}</h2>
    </div>
  </div>
</div>


<div class="card-deck">
  <div class="card" *ngFor="let p of popular">
    <img class="card-img-top" src="{{ p.Image }}" alt="Card image cap">
    <div class="cardbody">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h5 class="card-title">{{ p.Name }}</h5>
        </div>
        <div class="col-sm-6 col-xs-6 alignRight">
          <p style="float: right" *ngIf="comp=='hotels'">PKR {{ p.Price }}</p>
          <p style="float: right" *ngIf="comp=='Restaurants'">{{ p.Type }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div>
            <span *ngFor="let str of getRepeater(p.Rating)" class="fa fa-star" aria-hidden="true"></span>
          </div>
          <div>
            {{ p.Rating }}/5 (120 reviews)
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 alignRight" style="color: white">
          <button class="btn btn-success" type="submit" (click)="SubmitDeals(p)">View Deal</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
