<h1 style="margin-top: 7%;text-align: center">Booking Payment</h1>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default credit-card-box">
        <div class="panel-heading display-table" style="width: 100%;">
          <div class="row display-tr">
            <h3 class="panel-title display-td" style="float: left;color: #28A745">Payment Details</h3>
            <div class="display-td"> <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png"> </div>
          </div>
        </div>
        <div class="panel-body">
          <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
            <div class="row">
              <div class="col-12">
                <div class="form-group" id="cNumber">
                  <label >CARD NUMBER</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group" id="exp">
                  <label ><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                  <input type="date" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required /> </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right" style="margin-top: 0.5%;">
                <div class="form-group" id="code">
                  <label style="margin-left: 5px">CV CODE</label>
                  <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required /> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group" id="country">
                  <label >Country</label>
                  <input type="text" class="form-control" name="Country" /> </div>
              </div>
              
              <div class="col-6">
                <div class="form-group" id="zip">
                  <label >Zip Code</label>
                  <input type="text" class="form-control" name="zipcode" /> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12"> <a href="#" class="btn btn-success btn-lg btn-block">Next</a> </div>
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
