.jumbotron{
  padding-top: 15em;
  /*background-image: url("Hotal.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

li.active > a {
  border-bottom:3px solid #FFC107;
}

li >a {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight:bolder;
}

.navbar-brand{
  font-size: 23px;
  font-weight:bolder;
}

#companyName{
  color: #FFC107;
}

.nav-item{
  padding-left: 15px;
}

.media-middle{
  margin-right: 10px;
}

.btn-outline-success:hover{
  box-shadow: 5px 5px 8px #a49292;
}
.buser:before{
  content: "•••";
}
.dropdown-item:hover{
  background-color: #FFC107;
}
.dropdown-item{
  font-weight:bold;
}
