

<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" id="companyName">SmartTrip</a>
    <button class="navbar-toggler collapsed" type="button" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" data-toggle="offcanvas" data-target="#collapsingNavbar1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="collapsingNavbar1" [ngbCollapse]="!isExpanded">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/hotel">Hotels <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/restaurant">Restaurants</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/travel">Travel</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/thingsToDo">Things to do</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="isBusinessUser()" (click)="businessCall()">Business View</a>
        </li>
        <!--<li class="nav-item" routerLinkActive="active">-->
          <!--<a class="nav-link" routerLink="/BusinessUsers"><span class="buser"></span></a>-->
        <!--</li>-->
        <li *ngIf="isLoggedIn()" class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="buser"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a *ngIf="isBusinessUser()" class="dropdown-item" routerLink="/BusinessUsers">Business Users</a>
            <a class="dropdown-item" routerLink="/AddItem">Add Item</a>
          </div>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <a class="btn"><img src="/assets/images/chat.png" /></a>
        <button *ngIf="isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" style="margin-left: 5px;" type="submit">Log Out</button>
        <button *ngIf="!isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/signup">Sign Up</button>
        <button *ngIf="!isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="open(content)" style="margin-left: 5px;" type="submit">Log In</button>
      </form>
    </div>
  </nav>
</header>




<ng-template #content let-c="close" let-d="dismiss">
  <div>
  <div class="modal-dialog" style="margin: 0px;padding: 10px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Log In <i class="fa fa-lock"></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="social-buttons">
              <a style="border: 1px solid" class="btn btn-fb"  (click)="socialSignIn('facebook')" ><i class="fa fa-facebook"></i> Facebook</a>
              <a style="border: 1px solid" href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a> </div> or
            <form class="form" role="form" accept-charset="UTF-8" id="login-nav" #f="ngForm" (ngSubmit)="submit(f)">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" ngModel name="email" placeholder="Email address" required> </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" ngModel name="password" placeholder="Password" required>
                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> keep me logged-in </label>
              </div>
            </form>
          </div>
          <div class="bottom text-center"> New here ? <a routerLink="/signup"><b>Join Us</b></a> </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ng-template>
