/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

::-webkit-scrollbar{
  width: 8px;
  background-color: aqua;
}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}
::-webkit-scrollbar-track{
  border-radius:10px;
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}
#loader {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 50%;
}
